# Required - The ID of your Sanity project
PUBLIC_SANITY_STUDIO_PROJECT_ID="<your-project-id>"
# Required - The dataset of your Sanity project
PUBLIC_SANITY_STUDIO_DATASET="production"
# Required - The generated read token, used to fetch data on the server
SANITY_API_READ_TOKEN=""
# Optional - The URL of your Sanity Studio.  Defaults to http://localhost:3333
PUBLIC_SANITY_STUDIO_URL=""
# Optional - Visual Editing - set to "true" to enable overlays in Presentation tool
PUBLIC_SANITY_VISUAL_EDITING_ENABLED="false"

# here we control a fix on Astro's visual editing as implemented
# by a loosely coupled loop, which will miss characters typed
# soon after a pause, typical in choosing a sentence ending.

# 1200 ms is the default delay if this var isn't set. You can
# tune the extra refresh which catches those chars typed during
# the blind time where the browser is refreshing. If desired,
# setting a negative value will turn off the feature.

PUBLIC_SANITY_ASSURE_TYPING_INTERVAL=1200