---

---

<div class="flex flex-col items-center px-2">
  <div class="hidden sm:flex items-center my-13 mb-8">
    <div class="absolute flex w-93.75 h-28.75 bg-magenta-100 blur-[82px] -rotate-19 -z-1"></div>
    <img class="flex" src="/astro.svg" alt="Astro Logo" />
    <span class="flex font-sans font-extrabold text-4xl leading-9 mx-5">+</span>
    <img class="flex" src="/sanity.svg" alt="Sanity Logo" />
  </div>
  <div class="flex-col w-full sm:flex sm:max-w-xs sm:p-0">
    <h2 class="text-2xl leading-6">Next steps</h2>
    <ul class="list-none p-0 sm:mt-0">
      <li class="mb-5">
        <h3 class="text-lg leading-6 sm:mt-5">Publish a post in your Studio</h3>
        <p class="font-serif leading-6">
          Visit the <a class="text-blue-600 no-underline" href="http://localhost:3333/">Sanity Studio</a> and publish
          a new document of type post.
        </p>
      </li>
      <li class="mb-5">
        <h3 class="text-lg leading-6 sm:mt-5">Dive into the documentation</h3>
        <p class="font-serif leading-6">
          Check out{" "}
          <a
            class="text-blue-600 no-underline"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.sanity.io/docs"
          >
            the documentation
          </a>{" "}
          to learn more about Sanity.
        </p>
      </li>
      <li class="mb-5">
        <h3 class="text-lg leading-6 sm:mt-5">Join the Sanity Discord</h3>
        <p class="font-serif leading-6">
          Leverage{" "}
          <a
            class="text-blue-600 no-underline"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://snty.link/community"
          >
            our awesome community
          </a>
          , and share tips and discuss!
        </p>
      </li>
    </ul>
  </div>
</div>
