---
import { PortableText } from "astro-portabletext";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="card">
  <h2>
    <a
      class="link"
      href={`/posts/${post.slug?.current}`}
    >
      {post.title}
    </a>
  </h2>
  {
    post.mainImage && (
      <img src={urlFor(post.mainImage).width(500).height(300).url()} />
    )
  }
  <PortableText value={post.body} />
</div>

<style>
  .card {
    position: relative;
    margin-bottom: 40px;
  }

  .card .link {
    color: var(--primary);
  }
</style>
