---
import PTImage from './PTImage.astro'

// n.b. this is not perhaps a very wise workaround,
// even though it does function here, to get this astro-importable
// *todo* a later update will remove it's need
export const ptComponents:Object = {
  type: {
    image: PTImage
  }
}
---
<p></p>